.col-md-1
.col-md-3
  h4.
    Make new condition
  .input-group
    label Before date
    input#before-date(type='date')
    input(type='button', value='Add', onclick="queryUtil.addBeforeDate()")
  .input-group
    label After date
    input#after-date(type='date')
    input(type='button', value='Add', onclick="queryUtil.addAfterDate()")
  .input-group
    label Before time:
    input#before-time(type='time')
    input(type='button', value='Add', onclick="queryUtil.addBeforeTime()")
  .input-group
    label After time:
    input#after-time(type='time')
    input(type='button', value='Add', onclick="queryUtil.addAfterTime()")
  .input-group
    label Longer than (seconds):
    input#longer-than(type='number')
    input(type='button', value='Add', onclick="queryUtil.addLongerThan()")
  .input-group
    label Shorter than (seconds):
    input#shorter-than(type='number')
    input(type='button', value='Add', onclick="queryUtil.addShorterThan()")
  .input-group
    label Device ID
    input#device-id(type='number')
    input(type='button', value='Add', onClick="queryUtil.addDeviceId()")

.col-md-4
  h4.
    Conditions
  #conditions
.col-md-3
  h4.
    Query
  input(type='button', value='Get all.', onclick='queryUtil.getAll()')
  br
  input(type='button', value='Get all from conditions.', onclick='queryUtil.fromConditions()')
  br
  input(type='button', value='Manual query (sequelize).')
  input(type='text')
  br
  label Active query
  input#active-query(type='text', value='{}')
  input(type='button', value='Send', onclick="queryUtil.sendQuery()")
  br
  label.col-md-2 Limit
  input#limit.col-md-2(type='number', value=20)
  label.col-md-2 Offset
  input#offset.col-md-2(type='number', value=0)
  input.col-md-1(type='button', value='<', onclick="queryUtil.dec()")
  input.col-md-1(type='button', value='>', onclick="queryUtil.inc()")
  label#count 0 results

.col-md-1

script(type='text/javascript', src='javascripts/includes/queryUtil.js')
