script(type='text/javascript', src='/javascripts/includes/newTag.js')
h4.center-block New Tag.

div.col-lg-3
  label Type
  select#event-type
div.col-lg-4#tags-dev
div.col-lg-1
  input#new-tag(type='button', value='Add', onclick="newTag.addTag()")
div.col-lg-4#error-box
