.form-group
  span.control-label Results per page:
  input#respult-per-page(type='number', value=20)
  span.control-label#results-text Showing 0-0 of 0 results.
  button#previous-results.btn.btn-default(type='button') <
  button#next-results.btn.btn-default(type='button') >
