sudo: required

services:
  - docker
  
dist: trusty

language: python
python:
  - "3.6"
  
install:
 - BG=1 ./docker-start.sh

script:
 - npm install -g eslint && npm run lint
 - cd test 
 - pip install virtualenv
 - virtualenv env && source env/bin/activate
 - pip install -r requirements.txt
 - pytest -s  