doctype html
html
  head
    title Cacophony Upload Server
    link(href='stylesheets/bootstrapSubmenu.css', rel='stylesheet', media='screen')
    link(href='stylesheets/bootstrap.css', rel='stylesheet', media='screen')
    script(src='http://code.jquery.com/jquery-1.9.1.js')
    script(type='text/javascript', src='javascripts/getRecordingsUtil.js')
    script(type='text/javascript', src='javascripts/models/audioRecording.js')
    script(src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")

  body
  div(class='container bs-docs-container')
    h2 Get Audio Recordings
    form#form1.form-horizontal()

      // Time Selector
      .form-group
        span.col-md-2.control-label Start Time
        input#start-time-check.col-md-1(type='checkbox', checked)
        .col-md-6
          .form-group.row
            label.col-md-1.control-label From:
            .col-md-4
              input#start-time-start.form-control(type='time', placeholder='key')
            label.col-md-1.control-label To:
            .col-md-4
              input#start-time-end.form-control(type='time', placeholder='value')

      // Date Selector
      .form-group
        span.col-md-2.control-label Recording Date
        input#date-check.col-md-1(type='checkbox', checked)
        .col-md-6
          .form-group.row
            label.col-md-1.control-label From:
            .col-md-4
              input#date-start.form-control(type='date', placeholder='key')
            label.col-md-1.control-label To:
            .col-md-4
              input#date-end.form-control(type='date', placeholder='value')

      // Duration Selector
      .form-group
        span.col-md-2.control-label Duration
        input#duration-check.col-md-1(type='checkbox', checked)
        .col-md-6
          .form-group.row
            label.col-md-1.control-label Min:
            .col-md-2
              input#duration-min.form-control(type='number', placeholder='1')
            label.col-md-1.control-label Max:
            .col-md-2
              input#duration-max.form-control(type='number', placeholder='60')

      // Query
      .form-group
        span.col-md-2.control-label Query
        .col-md-6
          .form-group.row
            input#query-input.col-md-9(type='text')
            input#generate-query-button.col-md-3(type='button', value='Generate Query')

      // Send query
      .form-group
        .col-md-2
        .col-md-6
          input#send-query.col-sm-12(type='button', value='Send Query')

  div(class="dropdown")
      button(class="btn btn-default dropdown-toggle", type="button" data-toggle="dropdown") Keys
        span(class="caret")
      ul(class="dropdown-menu" id="key-select")
  table(class="table table-striped" id="results-table")
