doctype html
html
  head
    title Cacophony Project
    script(src='http://code.jquery.com/jquery-1.9.1.js')
    link(href='stylesheets/bootstrap.css', rel='stylesheet', media='screen')
    script(src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")

  body
    include includes/navbar.pug
  div(class='container bs-docs-container')
    h2.
      Cacophony Project
