doctype html
html
  head
    title Cacophony login
    script(src='http://code.jquery.com/jquery-1.9.1.js')
    link(href='stylesheets/bootstrap.css', rel='stylesheet', media='screen')
    script(src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
    script(type='text/javascript', src='javascripts/login.js')


  body
    include includes/navbar.pug
    div(class='container bs-docs-container')
      form.form-signin.col-md-5
        h2.
          Login
        input.form-control#inputUsername(placeholder='Username')
        input.form-control#inputPassword(placeholder='Password', type='password')
        input#login(type='button', value='Sign in')
        br
        label#messages
