doctype html
html
  head
    title New Group
    script(src='http://code.jquery.com/jquery-1.9.1.js')
    link(href='stylesheets/bootstrap.css', rel='stylesheet', media='screen')
    script(src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
    script(type='text/javascript', src='javascripts/newGroup.js')


  body
    include includes/navbar.pug
  div(class='container bs-docs-container')
    h2.
      Register
    form#register-form.form-horizontal()
      .form-group
        label.col-sm-2 Groupname
        .col-sm-4
          input.form-control#group-name(type='text')

      .form-group
        input.btn#new-group(type='button', value='Create')
