doctype html
html
  head
    title Cacophony Upload Server
    link(href='stylesheets/bootstrap.css', rel='stylesheet', media='screen')
    script(type='text/javascript', src='javascripts/upload.js')

  body
  div(class='container bs-docs-container')
    h2 Cacophony Upload Recording
    form#form1.form-horizontal(enctype='multipart/form-data', method='post', action='Upload.aspx')

      p
        button.btn.btn-primary.btn-block(type='button', onclick='toggleShow(data_pointDiv);') Data Point
        div#data_pointDiv.hidden
          .form-group
            label.col-sm-2.control-label(for='data_point-tags') Tags
            .col-sm-8
              input#data_point-tags.form-control.metadata(type='text')
          .form-group
            label.col-sm-2.control-label(for='data_point-battery_level') Battery Level
            .col-sm-8
              input#data_point-battery_level.form-control.metadata(type='text')
          .form-group
            label.col-sm-2.control-label(for='data_point-extra') Extra Field
            .col-sm-8
              input#data_pointExtra(type='text')
              input#data_point-add_extra_button(type='button', value='Add Extra Field', onclick="addField('data_point');")
          div#data_pointExtraDiv
      p
        button.btn.btn-primary.btn-block(type='button', onclick='toggleShow(locationDiv);') Location
        div#locationDiv.hidden
          .form-group
            label.col-sm-2.control-label(for='location-id') Location ID
            .col-sm-8
              input#location-id.form-control.metadata(type='text')
          .form-group
            label.col-sm-2.control-label(for='location-utc') Location Time
            .col-sm-8
              input#location-utc.form-control.metadata(type='text')
          .form-group
            label.col-sm-2.control-label(for='location-latitude') Latitude
            .col-sm-8
              input#location-latitude.form-control.metadata(type='text')
          .form-group
            label.col-sm-2.control-label(for='location-longitude') Longitude
            .col-sm-8
              input#location-longitude.form-control.metadata(type='text')
          .form-group
            label.col-sm-2.control-label(for='location-altitude') Altitude
            .col-sm-8
              input#location-altitude.form-control.metadata(type='text')
          .form-group
            label.col-sm-2.control-label(for='location-accuracy') Accuracy
            .col-sm-8
              input#location-accuracy.form-control.metadata(type='text')
          .form-group
            label.col-sm-2.control-label(for='location-user_location_input') Description
            .col-sm-8
              input#location-user_location_input.form-control.metadata(type='text')
          .form-group
            label.col-sm-2.control-label(for='location-extra') Extra Field
            .col-sm-8
              input#locationExtra(type='text')
              input#location-add_extra_button(type='button', value='Add Extra Field', onclick="addField('location');")
          div#locationExtraDiv

      p
        button.btn.btn-primary.btn-block(type='button', onclick='toggleShow(recordingDiv);') Recording
        div#recordingDiv.hidden
          .form-group
            label.col-sm-2.control-label(for='recording-start_time_utc') Start Time
            .col-sm-8
              input#recording-start_time_utc.form-control.metadata(type='text')
          .form-group
            label.col-sm-2.control-label(for='recording-extra') Extra Field
            .col-sm-8
              input#recordingExtra(type='text')
              input#recording-add_extra_button(type='button', value='Add Extra Field', onclick="addField('recording');")
          div#recordingExtraDiv

      p
        button.btn.btn-primary.btn-block(type='button', onclick='toggleShow(deviceDiv);') Device
        div#deviceDiv.hidden
          .form-group
            label.col-sm-2.control-label(for='device-id') Device ID
            .col-sm-8
              input#device-id.form-control.metadata(type='text')
          .form-group
            label.col-sm-2.control-label(for='device-type') Device Type
            .col-sm-8
              input#device-type.form-control.metadata(type='text')
          .form-group
            label.col-sm-2.control-label(for='device-extra') Extra Field
            .col-sm-8
              input#deviceExtra(type='text')
              input#device-add_extra_button(type='button', value='Add Extra Field', onclick="addField('device');")
          div#deviceExtraDiv
      p
        button.btn.btn-primary.btn-block(type='button', onclick='toggleShow(hardwareDiv);') Hardware
        div#hardwareDiv.hidden
          .form-group
            label.col-sm-2.control-label(for='hardware-id') Hardware ID
            .col-sm-8
              input#hardware-id.form-control.metadata(type='text')
          .form-group
            label.col-sm-2.control-label(for='hardware-manufacturer') Manufacturer
            .col-sm-8
              input#hardware-manufacturer.form-control.metadata(type='text')
          .form-group
            label.col-sm-2.control-label(for='hardware-model') Model
            .col-sm-8
              input#hardware-model.form-control.metadata(type='text')
          .form-group
            label.col-sm-2.control-label(for='hardware-brand') Brand
            .col-sm-8
              input#hardware-brand.form-control.metadata(type='text')
          .form-group
            label.col-sm-2.control-label(for='hardware-url') URL
            .col-sm-8
              input#hardware-url.form-control.metadata(type='text')
          .form-group
            label.col-sm-2.control-label(for='hardware-solar_panel_power') Solar Panel Power
            .col-sm-8
              input#hardware-solar_panel_power.form-control.metadata(type='text')
          .form-group
            label.col-sm-2.control-label(for='hardware-extra') Extra Field
            .col-sm-8
              input#hardwareExtra(type='text')
              input#hardware-add_extra_button(type='button', value='Add Extra Field', onclick="addField('hardware');")
          div#hardwareExtraDiv
      p
        button.btn.btn-primary.btn-block(type='button', onclick='toggleShow(softwareDiv);') Software
        div#softwareDiv.hidden
          .form-group
            label.col-sm-2.control-label(for='software-id') Software ID
            .col-sm-8
              input#software-id.form-control.metadata(type='text')
          .form-group
            label.col-sm-2.control-label(for='software-os_codename') OS Codename
            .col-sm-8
              input#software-os_codename.form-control.metadata(type='text')
          .form-group
            label.col-sm-2.control-label(for='software-os_incremental') OS Incremental
            .col-sm-8
              input#software-os_incremental.form-control.metadata(type='text')
          .form-group
            label.col-sm-2.control-label(for='software-sdk_int') SDK int
            .col-sm-8
              input#software-sdk_int.form-control.metadata(type='text')
          .form-group
            label.col-sm-2.control-label(for='software-os_release') OS Release
            .col-sm-8
              input#software-os_release.form-control.metadata(type='text')
          .form-group
            label.col-sm-2.control-label(for='software-version') Version
            .col-sm-8
              input#software-version.form-control.metadata(type='text')
          .form-group
            label.col-sm-2.control-label(for='software-extra') Extra Field
            .col-sm-8
              input#softwareExtra(type='text')
              input#software-add_extra_button(type='button', value='Add Extra Field', onclick="addField('software');")
          div#softwareExtraDiv
      p
        button.btn.btn-primary.btn-block(type='button', onclick='toggleShow(microphoneDiv);') Microphone
        div#microphoneDiv.hidden
          .form-group
            label.col-sm-2.control-label(for='microphone-id') Microphone ID
            .col-sm-8
              input#microphone-id.form-control.metadata(type='text')
          .form-group
            label.col-sm-2.control-label(for='microphone-date_of_calibration') Calibration Date
            .col-sm-8
              input#microphone-date_of_calibration.form-control.metadata(type='text')
          .form-group
            label.col-sm-2.control-label(for='microphone-type') Type
            .col-sm-8
              input#microphone-type.form-control.metadata(type='text')
          .form-group
            label.col-sm-2.control-label(for='microphone-name') Name
            .col-sm-8
              input#microphone-name.form-control.metadata(type='text')
          .form-group
            label.col-sm-2.control-label(for='microphone-extra') Extra Field
            .col-sm-8
              input#microphoneExtra(type='text')
              input#microphone-add_extra_button(type='button', value='Add Extra Field', onclick="addField('microphone');")
          div#microphoneExtraDiv
      p
        button.btn.btn-primary.btn-block(type='button', onclick='toggleShow(environmentDiv);') Environment
        div#environmentDiv.hidden
          .form-group
            label.col-sm-2.control-label(for='environment-id') Environment ID
            .col-sm-8
              input#environment-id.form-control.metadata(type='text')
          .form-group
            label.col-sm-2.control-label(for='environment-temperature') Temperature
            .col-sm-8
              input#environment-temperature.form-control.metadata(type='text')
          .form-group
            label.col-sm-2.control-label(for='environment-local_temperature') Local Temperature
            .col-sm-8
              input#environment-local_temperature.form-control.metadata(type='checkbox')
          .form-group
            label.col-sm-2.control-label(for='environment-rainfall') Rainfall
            .col-sm-8
              input#environment-rainfall.form-control.metadata(type='text')
          .form-group
            label.col-sm-2.control-label(for='environment-local_rainfall') Local Rainfall
            .col-sm-8
              input#environment-local_rainfall.form-control.metadata(type='checkbox')
          .form-group
            label.col-sm-2.control-label(for='environment-humidity') Humidity
            .col-sm-8
              input#environment-humidity.form-control.metadata(type='text')
          .form-group
            label.col-sm-2.control-label(for='environment-local_humidity') Local Humidity
            .col-sm-8
              input#environment-local_humidity.form-control.metadata(type='checkbox')
          .form-group
            label.col-sm-2.control-label(for='environment-extra') Extra Field
            .col-sm-8
              input#environmentExtra(type='text')
              input#environment-add_extra_button(type='button', value='Add Extra Field', onclick="addField('environment');")
          div#environmentExtraDiv
      p
        button.btn.btn-primary.btn-block(type='button', onclick='toggleShow(recording_ruleDiv);') Recording Rule
        div#recording_ruleDiv.hidden
          .form-group
            label.col-sm-2.control-label(for='recording_rule-id') Recording Rule ID
            .col-sm-8
              input#recording_rule-id.form-control.metadata(type='text')
          .form-group
            label.col-sm-2.control-label(for='recording_rule-name') Name
            .col-sm-8
              input#recording_rule-name.form-control.metadata(type='text')
          .form-group
            label.col-sm-2.control-label(for='recording_rule-start_time') Start Time
            .col-sm-8
              input#recording_rule-startTime.form-control.metadata(type='text')
          .form-group
            label.col-sm-2.control-label(for='recording_rule-extra') Extra Field
            .col-sm-8
              input#recording_ruleExtra(type='text')
              input#recording_rule-add_extra_button(type='button', value='Add Extra Field', onclick="addField('recording_rule');")
          div#recording_ruleExtraDiv



      .form-group
        label.col-sm-2.control-label.text-right(for='latitude') Recording
        .col-sm-8
          input#fileToUpload(type='file', name='fileToUpload', onchange='fileSelected();')
          #fileName
          #fileSize
          #fileType
          #progressNumber
      .form-group
        label.col-sm-2.control-label.text-right(for='latitude') Upload
        .col-sm-8
          input(type='button', onclick='uploadFile();', value='Upload')
