doctype html
html
  head
    title User
    script(src='http://code.jquery.com/jquery-1.9.1.js')
    link(href='stylesheets/bootstrap.css', rel='stylesheet', media='screen')
    script(src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
    script(type='text/javascript', src='javascripts/userHome.js')


  body
    include includes/navbar.pug
  div(class='container bs-docs-container')
    h2.
      Hello User!
    dt.
      Username
    dd#username.
    dt.
      First name
    dd#first-name.
    dt.
      Last name
    dd#last-name.
    dt.
      Email
    dd#email.
    dt.
      Groups
    dd#groups.

    input#new-group(type='button', value='New Group')
