doctype html
html
  head
    title Audio Recording
    link(href='../stylesheets/bootstrap.css', rel='stylesheet', media='screen')
    script(src='http://code.jquery.com/jquery-1.9.1.js')
    script(type='text/javascript').
      var id = !{id};
    script(type='text/javascript', src='/javascripts/viewAudioRecording.js')

  body
    include includes/navbar.pug
    div.container
      h3.center-block Audio Player
      audio#player.center-block(controls)
        Brouser not supported for playing audio.
      div.form-horizontal
        div.form-group
          label.col-xs-2.text-right Time:
          div#time-text.col-xs-6 Some Time
        div.form-group
          label.col-xs-2.text-right Date:
          div#date-text.col-xs-6 Some Date
        div.form-group
          label.col-xs-2.text-right Location:
          div#location-text.col-xs-6 Some Location
        div.form-group
          label.col-xs-2.text-right relativeToDawn:
          div#relative-to-dawn-text.col-xs-6
        div.form-group
          label.col-xs-2.text-right relativeToDusk:
          div#relative-to-dusk-text.col-xs-6
        div.form-group
          label.col-xs-2.text-right Version:
          div#version-number-text.col-xs-6
        div.form-group
          label.col-xs-2.text-right Additional Metadata:
          div#additional-metadata-text.col-xs-6
        div.form-group
          label.col-xs-2.text-right Delete Recording:
          input#delete-button(type='button', value='Delete')
        include includes/newTag.pug
        table#tags-table(class="table table-striped")
          tr
            th Data
            th Delete
