doctype html
html
  head
    title Thermal Video Recording
    link(href='../stylesheets/bootstrap.css', rel='stylesheet', media='screen')
    link(href='/stylesheets/viewVideos.css', rel='stylesheet')
    script(src='http://code.jquery.com/jquery-1.9.1.js')
    script(type='text/javascript').
      var id = !{id};
      var apiUrl = "/api/v1/thermalvideorecordings";
      var pairApiUrl = "/api/v1/irvideorecordings";

  body
    include includes/navbar.pug
    include includes/viewVideo.pug
