#thermalVideo{
  width: 48%;
  margin-left: 1%;
  margin-right: 1%;
}

#irVideo{
  width: 48%;
  margin-left: 1%;
  margin-left: 1%;
}

#doubleVideoDiv{
  width: 1600px;
  margin: 0 auto;
}

#doubleVideoCon{
  width: 600px;
  margin: 0 auto;
}

#play{
  width: 60px;
}

#back{
  width: 30px;
}

#forward{
  width: 30px;
}

#videoSlider{
  margin-left: 10px;
  margin-right: 10px;
  width: 400px
}

#videoTime{
  width: 60px;
}
