[Unit]
Description=Cacophony Project API server
After=network.target

[Service]
WorkingDirectory=/srv/cacophony/api
ExecStart=/usr/bin/node --no-warnings=ExperimentalWarnings --experimental-json-modules Server.js --config=/etc/cacophony/api.js
Restart=on-failure
RestartSec=20s
User=fullnoise
Group=fullnoise
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
